
.msgblock{
    width:0px;
    height: 100%;
    opacity: 1.0;
    position: absolute;
    z-index:100;
    transition: width 1s  linear ;
   
}
.active{
    width:100vw !important;
}
.msgbackblock{
    width:100vw;
    height: 100vh;
    opacity:0.5 !important;
    background-color:black;
    z-index:50;
    position: absolute;
    transition: opacity 1s  linear,display 1s  linear ;
    display:block;
}
.closeBackBlock{
    opacity:0 !important;
    display:none;

}
.closeBt{
    color:white;
    float: right;
    margin-right: 20px;
    font-size:20px;
    font-family: '標楷體';
    position: absolute;
    right: 10px;
    z-index: 250;
}
.charapicker{
    position: absolute;
   width:0px;
    /* height: 95%; */
    background-color:white;
    z-index:200;
    top:0px;
    left:0px;
    transition:width 1s linear;
   display:inline-block;
}
.charapickeractive{
    width:30vw;

}
.charamsg{
    position: absolute;
    top:65px;
    width:0vw;
    height:auto;
    margin:1%;
    color: wheat;
    background-color:#3f778f;
    z-index: 150;
    position: absolute;
    right:0px;
    display:inline-block;
    overflow: hidden;
    transition: width 1s  linear;
   
}
.charamsgactive{
    width:60vw !important;
}
.picback{
    width:200px;
    height:200px;
    margin:1%;
    opacity:0.5;
    background-color:rgb(63, 80, 85);
    display:inline-block;

    transition: background-color 1s,opacity 1s linear ;
}
.picback:hover{
    opacity:1.0;
    background-color:lightblue;
    
}
.charaturename{
    color: wheat;
    font-size: 65px;
    /* float: right; */
    margin-left: 50%;
    position: absolute;
    z-index: 250;
}
.picback>.innerlater{
    width:100px;
    height:50px;
    font-family:'標楷體';
    font-size:20px;
    color:red;
    transition: background-color 1s,font-size 1s ,transform 1s ,color 1s linear,width 1s linear ;
}
.picback:hover > .innerlater{
    width:160px;
    transform:translatey(-20px);
    font-size:30px;
    background-color:white;
    color:blue;
    
}
.headpicinbodyelement{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
@media screen and (max-width:600px)
{
    .charapicker{
        display: block;
        position: relative;
    }
    .charapickeractive {
        width: 100vw;
        display: block;
        position: relative;
    }
    .charamsg{
        position: relative;
        text-align: left;
        overflow: hidden;
        top: auto;
    }

    .charamsgactive {
        
    width: 100vw !important;
    position: relative;
    text-align: left;
    display: block;
    top: auto;
    }
    .charaturename{
        display: block;
        height: auto;
        position: relative;
        margin-left: 0px;
    }
    /* .msgblock{
        width:300px;
        height:750px;
        text-align:center;
    }
    .blockset>.label
    {
        position:relative;
    } */

}
