.footerbutton{
    height: 150px;
    width: 150px;
    border-radius: 100% 24% 100% 100%;
    
    position: fixed;
    border-width: 10px;
    left: 50%;
    border-color: black;
    transition: background-color 0.5s,color 0.5s;
}
.closebotton{
    color: black;
    background: wheat;
    border-radius: 60%;
}
.picblock{
border-radius: 21%;
}
.nameblock{
    background-color: black;
    /* width: 250px;
    height: 100px; */
    border-radius:20px 20px;
    vertical-align: middle;
    /* position: fixed; */
    font-size: 36px;
    padding: 10px;
    /* margin-left: 61%; */
    float: right;
    color: red;
    border: red 14px solid;
}
.footerbutton:hover{
    height: 150px;
    width: 150px;
    
    position: fixed;
    border-width: 10px;
    border-color: black;
    background-color: wheat;
    color: black;
}
@media screen and (max-width:880px)
{
    .nameblock{
        float: right;
    }
}