

.nameclass{
    background: black;  
    position: absolute; 
   
    color: white;
    font-size:xx-large;
    /* transform: rotate(-43deg); */
    /* margin-top: 282px;
    margin-left: 73px; */
    transition:   border-radius 0.5s,font-size 0.5s , 
    border-bottom 0.5s ,color 0.5s linear,width 0.5s linear,
    transform 0.5s,margin-top 0.5s,margin-left 2.0s;
    
}
.picback:hover > .nameclass{
    background: black;  
    position: absolute; 
    border-radius: 92px; 
 
    font-size: 41px;
    text-align: center; 
    overflow:visible;
    height: auto;
    border-bottom: solid 5px #f00;
    color: white;
    transform: rotate(-43deg);
    margin-left: 73px;
    margin-top: 282px;
}