<div class="picback" ng-repeat="(k,charature) in north" data-toggle="modal" data-target="#exampleModal" ng-click="dospart(k)">
    <!-- <pre class="innerlater">{{charature.name}}</pre> -->
    <pre class="nameclass">{{charature.name}}</pre>
    <img class="headpicinbodyelement" src="{{north[k]['img']}}" />
</div>


<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:90%; ">
        <div class="modal-content  bg-dark" style="color:wheat ; background: black;border-radius:  100% 50px;">
            <div>
                <h5 class="modal-title nameblock" id="exampleModalLabel">
                    <strong>{{north[referindex]['name']}}
                    </strong>
                </h5>
                <button type="button" class="close closebotton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body fixbody">
                <div class="row">
                    <div>
                        <img ng-if="north[referindex]['bodyimg']" class="charapicker picblock" ng-class="sparte?'charapickeractive':''" src="{{north[referindex]['bodyimg']}}"
                        />
                        <img ng-if="!north[referindex]['bodyimg']" class="charapicker picblock" ng-class="sparte?'charapickeractive':''" src="{{north[referindex]['img']}}"
                        />
                    </div>
                    <div class="textfix">
                        <pre style="color:wheat;font-size: larger; ">{{north[referindex]['discrip']}}</pre>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style=" border: none;">
                <a class="btn btn-primary footerbutton" ng-if="north[referindex]['link']" href="{{north[referindex]['link']}}" style="padding-top: 50px;transform: translateX(-120px);
                
                border-radius: 100% 100% 100% 24%;">
                    <span>
                        read comic->
                    </span>

                </a>

                <button type="button" class="btn btn-secondary footerbutton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>