<div>

    <div>
        <div class="row header">
            <div class="settitle">
                <select>
                    <option ng-repeat="storyname in story track by $index">{{storyname}}</option>
                </select>
                人物一覽</div>
            <div style="color:white;text-align:center;">本故事純屬虛構，與實際存在的人物無任何關係</div>
        </div>
        <div class="row header" style="text-align:center">
            <span class="select" ng-repeat="option in select.title" ng-click="slectplace(option)">
                {{option}}
            </span>
        </div>
    </div>
    <body-element class="bodyelement"></body-element>
</div>